body {
	margin: 0;
	border: 0;
	background-color: #dfe0e5;
}

#main {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../images/st.jpg');
	will-change: transform;
	background-attachment: fixed;
}

#fullname {
	text-align: right;
	font-size: 30px;
	position: absolute;
	bottom: 2%; 
	left: -3%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 3px;
	color: #dfe0e5;
}

.section-description {
	text-align: right;
	font-size: 30px;
	position: relative;
	bottom: -70%; 
	left: -3%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 3px;
	color: #dfe0e5;
}

#resume-divider {
	display: block;
	width: 100%;
	height: 50%;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../images/kylemore_abbey.jpg');
	background-attachment: fixed;
}

#menu {
	padding-top: 20px;
	padding-right: 10px;
	text-align: right;
}

.menu_item {
	display: inline-block;
	padding: 0px 23px;
}

.menu_item a {
	font-weight: bold;
	font-size: 14px;
	color: black;
	font-family: Helvetica;
	text-decoration: none;
}

#about {
	padding-left: 16%;
	padding-right: 16%;
	height: 43%;
	padding-top: 20px;
	margin: 70 auto;
	background-color: #dfe0e5;
	display: block;
}

.about-photo {
	width: 31%;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg); 
	transform: rotate(90deg);
	border: solid 2px;
	float: left;
	margin-bottom: 35px;
	margin-left: -20px;
	margin-top: 30px;
}

.about-description {
	/*display: inline;*/
	/*border: solid 2px;*/
	/*border-color:red;*/
}

.about-me {
	text-align: left;
	margin-top: 0;
	font-size: 12px;
	font-weight: light;
	background-color: #dfe0e5;
	font-family: 'Open Sans', sans-serif;
}

#contact-separator {
	display: block;
	width: 100%;
	height: 40%;
	background-size: 100% 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../images/charles_fort_sm.jpg');	
	will-change: transform;
	background-attachment: fixed;
}

#contact {
	background-color: #434242;
	height: 400px;
}

#contact-header {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	color: #dfe0e5;
	padding-top: 10px;
}

.social {
	padding: 60px;
	/*padding-right: 45px;*/
}

.inner {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.rule {
	border-color: #727878;
	margin: 40px 0px;
}

.hr {
	width: 50%;
	margin: 0 auto;
}

#resume-container {
	width: 70%;
	margin: 0 auto;
}

.resume-content {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	margin-top: 25px;
}

.resume-left {
	/*border: solid 1px;*/
	border-color: red;
	display: inline-block;
	width: 30%;
	margin: 0 0 0 0;
	padding: 0;
	float: left;
}

.resume-right {
	border-color: green;
	display: inline-block;
	width: 68%;
	padding: 0;
	margin-left: 10px;
}

.contact-container {
	background-color: #434242;
	padding-top: 100px;
}

.experience {
	margin: 50 auto;
	margin-bottom: 45px;
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

.logo {
	float: left;
}

.resume-highlight {
	font-size: 14px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
}

.title {
	float: left;
	font-weight: bold;
}

.timeframe {
	float: right
}

.instagram {
	margin-bottom: -18px;
}

.text-align-center {
	text-align: center;
}

.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.grayish {
	color: #dfe0e5;
}
